* {
  font-size: 18px;
  font-weight: bold;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid black;
  background: black;
  border-radius: 5px;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
input[type="text"] {
  width: 96%;
  background: black;
  color: white;
  height: 50px;
  font-size: 30px;
  outline: none;
  border: none;
  text-align: right;
  border: 1px solid white;
  border-radius: 5px;
}
#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: black;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
  color: black;
}
.highlight {
  background: #6179ff;
}
#backspace {
  color: black;
}
button {
  outline: none;
  border: none;
  color: white;
  background: rgb(27, 27, 27);
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
